/*--------- KW---------*/
.container-showtable{

}
.row-border{
  border-top: 2px solid #f6f6f6;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-right: 0px !important;
   margin-left: 0px !important;
   position: relative;
}
.row-border .col-6{
  margin-right: -12px !important;
  margin-left: -12px !important;
}

.badge-showtable{
  width: 3px;
  height: 3px;
  background: red; 
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  margin-top: 9px;
  
}
.text-show-name{
  font-size: 13px;
  font-weight: 600;
  color: #495057;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 22px !important;
}

.text-show-value{
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  
}
/**************Data Table ***********/
.table-data-contanier nav{
  background: #fafafa;
  margin-top: 22px;
  /*box-shadow: 0 4px 6px rgba(52,58,64,.06);*/
  border-radius: 5px 5px 0 0;
  
}
.table-data-contanier a{
  font-size: 12px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 12px 12px 12px;
  color: #495057;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #5465ff;
  background-color: #fff;
  border: 0px solid #f0f0f0;
  border-top: 3px solid #5465ff;
  border-bottom:none;
  border-radius: 5px 5px 0 0;
}
.nav-tabs .nav-link  {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #555;
  border-top: 3px solid transparent;
  
}

.nav-tabs .nav-link :hover {
 
  border: none !important;
}
.nav-tabs .nav-link :active{
 
  border: none !important;
}
.table-data-container thead{

  border-bottom:1px solid #f0f0f0 !important;
}
.table-data-container th{
  border: none !important;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15x;
  border-bottom:2px solid #f0f0f0;
}
.table-data-container td{
  border: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 12px;
  padding-bottom: 12x;
  border-bottom:1px solid #f0f0f0;
}
.table-data-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: -moz-calc(100vh - 200px);
  height: -webkit-calc(100vh - 200px);
  height: calc(100vh - 200px);
}
.table-fixed{
 
  background: #fff;
}
/*
 *  STYLE 7
 */

 #style-7::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 4px rgba(235, 235, 235, 0.3);
   background-color: #F5F5F5;
   border-radius: 10px;
 }
 
 #style-7::-webkit-scrollbar
 {
   width: 7px;
   background-color: #F5F5F5;
 }
 
 #style-7::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-image: -webkit-gradient(linear,
            left bottom,
                      left top,
                      color-stop(0.44, rgb(122,153,217)),
                      color-stop(0.72, rgb(122,153,217))
   )
                  
 }
 .col-control-panel{
   padding-left: 0 !important;
   padding-right: 0 !important;
 }
 /*****table-chartFreEne**/
 .table-chartFreEne{
   margin-bottom: -10px;
 }
 .table-chartFreEne tr{
   position: relative;
   background: #fff !important;
   margin: 0 auto;
   border-top: 2px solid #f6f6f6;
 }
 .table-chartFreEne p{
    font-size: 13px;
    font-weight: 600;
    color: #495057;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 22px !important;
  
 }
 .table-chartFreEne-name{
   margin: 0 auto;
   justify-content: center;
   align-items: center;
 }
 .table-chartFreEne-name .badge-chartFreEne{
    width: 3px;
    height: 3px;
    background: rgb(47, 255, 47); 
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    margin-top: 9px;
 }

 .table-chartFreEne-value{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
 }
 .table-chartFreEne-unit{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
 }
 /****** Table Control *****/
 .table-chartControl th{
    border: none !important;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
 }
 .table-chartControl .btn-mode{
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px !important;
 }
 .table-chartControl .btn-manual{
  margin-left: 8px;

}
.table-chartControl-auto input{
  font-size: 12px;
  font-weight: 600;
   font-family: 'Open Sans', sans-serif;
   width: 105px;
   padding: 5px;
}
.table-chartControl .btn-auto{
  margin-left: 10px;
  padding: 5px 10px;
}

.table-chartControl-manual .MuiSwitch-sizeSmall{
  margin-top: 3px;
}

.img-light-on{
  height: 35px;
  width: 35px;
  
}
.img-light-off{
  height: 35px;
  width: 35px;
}
.table-chartFreEne-container-disable{
   pointer-events: none !important;
    opacity: 1 !important;
}
.page-title-text-fs{
  font-size: 16px !important;
  color:"#727cf5";
  font-weight: 500;
}
.option-time-report{
  float:right;
  top:5px
}

.option-time-report span{
  font-size: 12px;
}
.ant-radio-group-small .ant-radio-button-wrapper {
  height: 33px;
  padding: 4px 12px;
  line-height: 22px;
}

/* -----------Notification ---------------*/
.button-show-addNew{
  float: left;
}
.drawerContainer{
  z-index: 4000;
}
.notificationShow{
  z-index: 5000;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.table-hide-pagination .ant-table-pagination.ant-pagination {
  display: none !important;
}
.table-hide-pagination .ant-table {
  font-size: 13px;
}
/*-------------------------------------------------------*/
.avatar-container{
  text-align: center;
}
.avatar-container h5{
  font-size: 16px ;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 20px;

}
.avatar-container h6{
  font-size: 14px ;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.timeLine-container{
  text-align: center;
  margin-top: 70px;
}
.font-project-header{
  font-size: 14px !important;
}
.table-manage .ant-table-pagination.ant-pagination {
  display: none !important;
}
.table-manage .ant-table {
  font-size: 14px;
}


